<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" 
            fileName="${basedir}/logs/DevDataSeederUI.csv"
            archiveFileName="${basedir}/logs/archives/DevDataSeeder.{#}.csv"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" >
        <layout xsi:type="CSVLayout">
          <column name="time" layout="${longdate}" />
          <column name="logger" layout="${logger}"/>
          <column name="level" layout="${level}"/>
          <column name="message" layout="${message}" />
        </layout>
      </target>
      <target name="console" xsi:type="Console" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
  </nlog>
</configuration>