<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RequiredDatabasesToRestore" type="System.Configuration.NameValueSectionHandler" />
    <section name="OptionalDatabasesToRestore" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="DBATools" connectionString="Server='prod1_dbtest2';Database='DBATools';Trusted_Connection='True';" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <RequiredDatabasesToRestore>
    <add key="Assets"  value="Assets" />
    <add key="ASPNetServices"  value="ASPNetServices" />
    <add key="Carteasy"  value="Carteasy" />
    <add key="ColoExternalActivation"  value="ColoExternalActivation" />
    <add key="CommonDB"  value="CommonDB" />
    <add key="ContentManagement"  value="ContentManagement" />
    <add key="Coupon"  value="Coupon" />
    <add key="Customers"  value="Customers" />
    <add key="DomExportOrder"  value="DomExportOrder" />
    <add key="Financial"  value="Financial" />
    <add key="LampsPlusAspServices"  value="LampsPlusAspServices" />
    <add key="PCL"  value="PCL" />
    <add key="Private"  value="Private" />
    <add key="Products"  value="Products" />
    <add key="StockCheck"  value="StockCheck" />
    <add key="UserProfile"  value="UserProfile" />
    <add key="ZipCodes"  value="ZipCodes" />
  </RequiredDatabasesToRestore>
  <OptionalDatabasesToRestore>
    <add key="Amazon"  value="Amazon" />
    <add key="ASPState"  value="ASPState" />
    <add key="ASPState-OU"  value="ASPState-OU" />
    <add key="ASPState-PacificCoastLighting"  value="ASPState-PacificCoastLighting" />
    <add key="CentennialDesks"  value="CentennialDesks" />
    <add key="ColoServiceBrokerLog"  value="ColoServiceBrokerLog" />
    <add key="ContactUs"  value="ContactUs" />
    <add key="DOMLog"  value="DOMLog" />
    <add key="Imports"  value="Imports" />
    <add key="Logfile"  value="Logfile" />
    <add key="Marketplace"  value="Marketplace" />
    <add key="MiniSoft_LP_Products"  value="MiniSoft_LP_Products" />
    <add key="Project"  value="Project" />
    <add key="TempTables"  value="TempTables" />
    <add key="Universal"  value="Universal" />
  </OptionalDatabasesToRestore>
</configuration>